.search-tracks {
    padding: 40px;
    background-color: #f9f9f9;
    text-align: center;
}

.search-tracks h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.search-container .search-input {
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    width: 300px;
    border: 1px solid #666;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.search-container .search-input:focus {
    border-color: #999;
}

.search-container .search-button {
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-container .search-button:hover {
    background-color: #555;
}

.search-container .search-button.clear-button {
    background-color: #666;
}

.search-container .search-button.clear-button:hover {
    background-color: #888;
}

.filter-toggle-button {
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-toggle-button:hover {
    background-color: #555;
}

.filter-container {
    transition: all 0.3s ease;
}

.sort-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.sort-container label {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #333;
}

.sort-container .sort-tracks {
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border: 1px solid #666;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

.search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-height: 680px;
    overflow-y: auto;
    padding-right: 10px;
}

.search-results.top-tracks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    max-height: none;
    overflow-y: visible;
}

.search-results::-webkit-scrollbar {
    width: 8px;
}

.search-results::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

.search-results::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.search-results::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.search-results .no-results {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #666;
    margin: 20px 0;
    grid-column: 1 / -1;
    text-align: center;
}

.track-item {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 5px 5px 4px rgba(66, 66, 66, 0.3);
    width: 500px;
    padding: 10px;
    transition: all 0.4s ease;
    margin-bottom: 10px;
}

.track-item:hover {
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.9);
}

.track-item:active {
    transform: scale(0.9);
    box-shadow: 5px 5px 4px rgba(66, 66, 66, 0.3);
}

.track-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}

.track-item .track-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.track-item .track-info h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #333;
    margin: 0;
}

.track-item .track-info .artist {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}


.audio-player {
    position: fixed;
    left: 0;
    width: 100%;
    background-color: #000000;
    padding: 15px;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    transition: bottom 0.2s ease-in-out;
    z-index: 999;
}

.audio-player.show {
    bottom: 0;
}

.audio-player audio {
    width: 100%;
    box-sizing: border-box;
    padding: 0 60px 0 60px;
    outline: none;
    background-color: #000000;
    border-radius: 5px;
}


.track-item.active {
    background-color: #e0f7fa;
    border: 2px solid #00bcd4;
    box-shadow: 5px 5px 6px rgba(0, 188, 212, 0.3);
}


.player-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #000000;
    border-bottom: 1px solid #000000;
}

.track-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #ffffff;
    margin: 0;
    margin: 0 0 10px 60px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
}

.player-controls {
    display: flex;
    gap: 10px;
    margin: 0 60px 10px 0px;
}

.minimize-button,
.close-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.minimize-button img,
.close-button img {
    width: 25px;
    height: 25px;
    filter: invert(100%);
}

.audio-player.minimized {
    bottom: -100px;
    transition: bottom 0.3s ease-in-out;
}

