.bio {
    padding: 40px;
    text-align: center;
    background-color: #f9f9f9;
}

.bio h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    color: #333;
}

.bio p {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: #666;
    max-width: 1000px;
    margin: 20px auto;
}

.section-divider {
    width: 35%;
    height: 2px;
    background-color: #000;
    margin: 20px auto;
}

.bio a {
    color: #666;
    transition: all 0.3s ease;
    display: inline-block;
}

.bio a:hover{
    transform: scale(1.1);
}

.bio a:active{
    transform: scale(0.9);
}